<div class="min-h-screen bg-gray-200 flex relative">
  <div class="flex-1 flex items-center justify-center">
    <div
      class="w-105 h-170 bg-gray-100 rounded-3xl shadow-xl flex flex-col items-center justify-center relative"
    >
      <div class="absolute top-6 left-6">
        <div class="w-8 h-8 bg-white rounded-full"></div>
      </div>

      <div class="absolute top-6 right-6">
        <div class="w-8 h-8 bg-white rounded-full"></div>
      </div>

      <div class="flex flex-col items-center space-y-6">
        <div class="w-24 h-24 bg-gray-300 rounded-full"></div>
        <div class="w-48 h-4 bg-gray-300 rounded"></div>
        <div class="w-64 h-12 bg-gray-200 rounded-full"></div>
      </div>

      <div class="absolute bottom-6">
        <div class="w-48 h-3 bg-gray-200 rounded"></div>
      </div>
    </div>
  </div>

  <!-- QR -->
  <div class="hidden lg:flex flex-col items-center justify-end pr-5 pb-10">
    <div class="w-32 h-4 bg-gray-300 rounded mb-4"></div>
    <div class="w-32 h-32 bg-white shadow-md"></div>
  </div>
</div>
