<div class="flex h-screen w-screen bg-gray-50">
  <!-- main side bar -->
  <div class="h-full bg-gray-200 w-[13%] flex flex-col">
    <div class="flex-1">
      <div class="flex items-center gap-2 px-3 py-3 border-b border-gray-200">
        <!-- icon -->
        <div class="w-8 h-8 rounded-full bg-gray-400 flex items-center justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="w-5 h-5 text-white"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5.121 17.804A9 9 0 1118.879 17.804M15 11a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
        </div>
        <!-- email -->
        <span class="text-sm font-medium text-gray-700"> {{ userEmail$ | async }}</span>
      </div>

      <!-- linktree heading -->
      <div class="px-4 pt-5 pb-1">
        <h2 class="text-sm font-semibold text-gray-500 uppercase tracking-wide">My Linktree</h2>
      </div>

      <!-- menu button -->
      <div class="flex flex-col p-2 text-sm">
        <button
          [routerLink]="['/dashboard/link']"
          class="text-left px-4 py-2 hover:bg-gray-300 transition rounded-2xl"
        >
          Link
        </button>

        <button
          [routerLink]="['/dashboard/design']"
          class="text-left px-4 py-2 hover:bg-gray-300 transition rounded-2xl"
        >
          Design
        </button>

        <button
          [routerLink]="['/dashboard/insight']"
          class="text-left px-4 py-2 hover:bg-gray-300 transition rounded-2xl"
        >
          Insights
        </button>

        <button
          [routerLink]="['/dashboard/account']"
          class="text-left px-4 py-2 hover:bg-gray-300 transition rounded-2xl"
        >
          Account
        </button>
      </div>
    </div>

    <!-- logout -->
    <div class="border-t border-gray-300">
      <button
        class="w-full text-left px-4 py-3 hover:bg-gray-300 transition text-red-500 font-medium"
      >
        Logout
      </button>
    </div>
  </div>
  <!-- main content -->
  <div
    class="flex-1 h-full w-[60%]"
    [class.w-[63%]]="showRightSidebar"
    [class.w-[87%]]="!showRightSidebar"
  >
    <div class="h-[7%] w-full border-b border-gray-200 flex items-center justify-start pl-6">
      <h1 class="text-xl font-semibold text-gray-800">
        {{ pageName }}
      </h1>
    </div>
    <div class="w-full h-[93%]">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- side bar -->
  <div *ngIf="showRightSidebar" class="flex flex-col h-full w-[24%] border-l border-gray-300">
    <div class="h-[7%] w-full flex items-center px-5">
      <div class="bg-white rounded-2xl w-full h-[65%] flex items-center justify-center">
        linktree/user
      </div>
    </div>
    <div class="flex items-center justify-center h-[93%] w-full">
      <div class="bg-white rounded-[30px] w-70 h-150"></div>
    </div>
  </div>
</div>
